<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0">Image upload</h5>
          <div class="d-flex flex-row align-items-center justify-content-end">
            <input #input id="file-input" type="file" accept="image/*" (change)="selectFile($event)">
            <button [disabled]="url && !uploading" class="btn btn-secondary btn-sm mr-2" (click)="input.click()">Browse</button>
            <button [disabled]="!url || uploading" class="btn btn-secondary btn-sm mr-2" (click)="upload()">Upload</button>
            <button [disabled]="!url || uploading" class="btn btn-secondary btn-sm mr-2" (click)="clear()">Clear</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="url;else noImage;" class="d-flex flex-row align-items-center justify-content-start">
          <img class="preview" [src]="url" class="mr-2">
          <div class="d-flex flex-column align-items-start justify-content-center">
            <p class="mb-0"><span>File name: </span><span class="text-muted">{{selectedFile?.name}}</span></p>
            <p class="mb-0"><span>File size: </span> <span class="text-muted">{{selectedFile?.size |toKb}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noImage>
  <h5 class="m-0">Select an image to upload</h5>
</ng-template>