<div class="row">
  <div class="col-12">
    <h3>Upload featured image</h3>
  </div>
  <div class="col-12">
    <img *ngIf="url" [src]="url" height="200" class="mb-2">
    <div *ngIf="url" class="form-group">
      <label for="name">Image name</label>
      <input id="name" type="text" class="form-control" placeholder="Type a name for the image"
        [(ngModel)]="selectedFile.name">
    </div>
    <div *ngIf="url" class="form-group">
      <label for="desc">Short description</label>
      <textarea id="desc" type="text" class="form-control" placeholder="Type a short description for the image"
        rows="2"></textarea>
    </div>
  </div>
  <div class="col-12">
    <input #input id="file-input" type="file" (change)="selectFile($event)">
    <button *ngIf="!url " class="btn btn-secondary btn-sm mr-2" (click)="input.click()">Browse</button>
    <button *ngIf="url" class="btn btn-danger btn-sm mr-2" (click)="clear()">Clear</button>
    <button *ngIf="url" class="btn btn-success btn-sm" (click)="upload()">Upload</button>
  </div>
</div>