<div class="container-fluid dashboard">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2 mb-2">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center justify-content-start">
            <h3 class="m-0 font-weight-bold">{{statistics.totalPublished}}</h3>
            <p class="m-0 text-muted">Total published posts</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2 mb-2">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center justify-content-start">
            <h3 class="m-0 font-weight-bold">{{statistics.totalDraft}}</h3>
            <p class="m-0 text-muted">Total draft posts</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2 mb-2">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center justify-content-start">
            <h3 class="m-0 font-weight-bold">{{statistics.totalViews}}</h3>
            <p class="m-0 text-muted">Total post views</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2 mb-2">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center justify-content-start">
            <h3 class="m-0 font-weight-bold">{{statistics.totalLikes}}</h3>
            <p class="m-0 text-muted">Total post likes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2 mb-2">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center justify-content-start">
            <h3 class="m-0 font-weight-bold">{{statistics.totalComments}}</h3>
            <p class="m-0 text-muted">Total post comments</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2 mb-3">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center justify-content-start">
            <h3 class="m-0 font-weight-bold">{{statistics.totalShares}}</h3>
            <p class="m-0 text-muted">Total post shares</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-3">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="d-flex flex-row align-items-center justify-content-between">
            <h3 class="font-weight-bold m-0">Blog posts</h3>
            <ngb-pagination *ngIf="data?.total>pageSize" [collectionSize]="data?.total" [pageSize]="pageSize"
              [directionLinks]="false" (pageChange)="onPageChange($event)"></ngb-pagination>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                {{!filter?'Filter Posts':filter==='published'?'Published':filter==='all'?'All':'Draft'}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="onFilterChange('all')">All</button>
                <button ngbDropdownItem (click)="onFilterChange('published')">Published</button>
                <button ngbDropdownItem (click)="onFilterChange('draft')">Draft</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="posts-container">
  <div class="container-fluid">
    <div *ngIf="data?.posts?.length>0;else noPosts" class="row">
      <div *ngFor="let post of data?.posts" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="row d-flex align-items-center">
              <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <div class="content d-flex flex-column align-items-start justify-content-start pl-2">
                  <h3 class="m-0">{{post?.title}}</h3>
                  <h4 class="m-0 text-muted">{{post?.preview}}</h4>
                  <p class="text-muted m-0">Created by {{post?.author}} on {{post?.postDate | date }}</p>
                  <div class="d-flex flex-row align-items-center justify-content-center">
                    <div *ngFor="let tag of post?.tags" class="mr-2">
                      <span class="badge bg-dark text-light">
                        {{tag}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center">
                <div>
                  <span class="badge"
                    [ngClass]="{'badge-success':post?.status==='published','badge-secondary':post?.status==='draft'}">
                    {{post?.status==='published'?'Published':'Draft'}}
                  </span>
                </div>
              </div>
              <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center">
                <i class="far fa-edit mr-3 action action-edit" (click)="editPost(post);"></i>
                <i class="far fa-trash-alt action action-delete" (click)="deletePost(post)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noPosts>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2">
      <div class="card shadow-sm">
        <div class="card-body">
          <h4 class="m-0">There are no posts yet. </h4>
        </div>
      </div>
    </div>
  </div>
</ng-template>