@import '../../../../assets/scss/variables';

.dashboard{
    padding-top: 70px;
}

.posts-container{
    height: 710px;
    overflow-y: auto;
}

ngb-pagination ::ng-deep ul{
    margin: 0px !important;
}

.action-edit:hover{
    color: $success;
    cursor: pointer;
}

.action-delete:hover{
    color: $danger ;
    cursor: pointer;
}