<main class="form-signin">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <img class="mb-4" src="assets/images/content.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <label for="inputEmail" class="visually-hidden">Email address</label>
    <input type="email" formControlName="email" id="inputEmail" class="form-control mb-1" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" formControlName="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required>
    <button class="w-100 btn btn-primary" type="submit" [disabled]="loginForm.invalid">Sign in</button>
    <p class="mt-5 mb-3 text-muted">Anastasios Theodosiou &copy; 2021</p>
  </form>
</main>