::ng-deep .codex-editor{
    height: 72vh;
    overflow-y: auto;
}

img{
    width: 100px !important;
    height: 100px !important;
    object-fit: cover !important;

    &:hover{
        cursor: pointer;
    }
}

.badge:hover{
    cursor: pointer;
}

input:focus{
    border-color: lightgray;
    box-shadow: none;
}